impo
  .myModal {
      width: '100%';
      height: '900%';
      }
  .container {
      text-align: 'center';
      align-self: 'center';
      justify-content: 'center';


      padding: 20,
      }
     

  


